mixin storeForm(store = {})

  form( action=`/add/${store._id || ''}` method="POST" encytpe="multipart/form-data" class="card")
    label(for="name") Name
    input(type="text" name="name" value=store.name)
    label(for="description") Description
    textarea(name="description") #{store.description}
    - const choices = ['Wi-fi', 'Dog friendly', 'Open sunday', 'Bar']
    - const tags = store.tags || []
    label(for="address") Address
    input(type="text" id="address" name="location[address]" value=(store.location && store.location.address))
    label(for="Lng") Address Lng
    input(type="text" id="lat" name="location[coordinates][0]" value=(store.location && store.location.coordinates[0]) required)
    label(for="Lng") Address Lat
    input(type="text" id="lng" name="location[coordinates][1]" value=(store.location && store.location.coordinates[1]) required)
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" name="tags" value=choice id=choice checked=(tags.includes(choice)))
          label(for=choice) #{choice}
    input(type="submit" value="Save" class="button")
